@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Estonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
  --primary: #915eff;
  --secondary: #1a1a1a;
}

body{
    /* background-color: #fff; */
    background-color: var(--secondary);
    color: white;
    overflow-x: hidden;
    height: 100vh;
    background: #111;
}


/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    width: 80vw;
    height: 10vh;
    background: rgba(0, 0, 0, 0.133);
    backdrop-filter: blur(4px);
    z-index: 1;
    border-radius: 30px;
    position: fixed;
    
    left: 50%;
    transform: translate(-50%);
}

nav a{
    text-decoration: none;
    color: white;
    transition: ease 0.3s;
    opacity: 0.5;
    padding-block: 16px;
}

nav a:hover{
    opacity: 1;
}

#logo{
    opacity: 1;
}

.name{
    font-family: beau rivage;
    font-size: 2rem;
    letter-spacing: 1px;
    word-spacing: 10px;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 500;
    font-size: 17px;
}

/* nav mobile */
.navMobile {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .navMobile::after,
  .navMobile::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

  /*home*/
  .me{
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
    height: 100vh;
  }

/*sobre mim*/
.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    flex-direction: column;
    margin-top: 100px;
    scroll-margin-top: 100px; /* Define o espaço ao rolar */
}

.sobre h1{
    display: flex;
    margin-bottom: 50px;
    color: var(--primary);
}

.contends{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1rem;
}

.p-icons{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    text-align: justify; 

}

.tech{
    display: flex;
    gap: 1rem;
    font-size: 30px;
    cursor: pointer;
    transition: ease 0.3s;
}

.tech img{
    width: 30px;
    height: 30px;
}

.tech i{
    transition: ease 0.2s;
}

.avatar{
    border-radius: 100%;
    width: 400px;
    height: 400px;
    transition: ease 0.3s;
    object-fit: cover; /* Faz a imagem se ajustar ao círculo sem distorcer */
    background-position: center;
}

.avatar:hover{
    transform: scale(1.05);
}

/*redes sociais*/
.btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-decoration: none;
}

.btns a{
    text-decoration: none;
    animation: moveScale 3s infinite ease-in-out;
}

.projects a{
    text-decoration: none;
}

.butaum{
    display: flex;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    transition: ease-in-out;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    cursor: pointer; 
    margin-top: 30px;
}

/*icons*/
.devicon-github-original{
    display: flex;
    font-size: 20px;
}

.devicon-linkedin-plain{
    display: flex;
    font-size: 20px;
}

#github{
    color: var(--primary);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: #00000059 0px 5px 15px;
    transition: ease 0.5s;
    border: solid var(--primary)2px;
}

#linkedin{
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary);
    box-shadow: #00000059 0px 5px 15px;
    transition: ease 0.5s;
    border: solid var(--primary)2px;
}

#github:hover{
    background-color: var(--primary);
    color: white;
    transform: scale(1.10);
}

#linkedin:hover{
    background-color: var(--primary);
    color: white;
    transform: scale(1.10);
}

.myprojects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
    gap: 2rem;
    scroll-margin-top: 100px;
}

.myprojects h1{
    color: var(--primary);
}

.projetinho{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.projects{
    display: flex;
    background: rgba(0, 0, 0, 0.096);
    backdrop-filter: blur(4px);
    color: rgb(255, 255, 255);
    width: 350px;
    height: 380px;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    gap: 0.8rem;
    transition: ease 0.3s;
}

.projects:hover{
    transform: scale(1.05);
}

.projects img{
    display: flex;
    width: 337px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 6px;
}

#vermais{
    background-color: rgba(137, 43, 226, 0);
    color: white;
    transition: ease 0.3s;
    box-shadow: #00000059 0px 5px 15px;

}

#vermais:hover{
    background-color: rgb(75, 0, 215);
    color: white;
}


::selection {
    background-color: rgb(110, 19, 206); /* Cor do fundo da seleção */
    color: white;            /* Cor do texto dentro da seleção */
  }


.home{
    width: 100vw;
    height: 100vh;
}

video{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /*ocupa todo espaço sem deixar nenhuma brecha*/
    transform: translate(0%, 0%); /*fica no meio da tela e ocupa todo espaço */
    z-index: -1; /* Colocar o vídeo atrás do */
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-bottom: 15rem;
    scroll-margin-top: 100px;
}

.contato h1{
    color: var(--primary);
}

.cts button{
    
    display: flex;
    padding: 15px 110px;
    border-radius: 10px;
    border: none;
    gap: 10px;
    align-items: center;
    font-weight: 500;
    cursor: pointer; 
    margin-top: 30px;
    flex: 1;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    transition: ease 0.3s all;
}

#wpp{
    background-color: #0091ff00;
    border: solid 2px #00bf13;
    /* box-shadow: #00000059 0px 5px 15px; */
    color: #00bf13;
}

#gmail{
    background-color: #0091ff00;
    border: solid 1px #ff6666;
    /* box-shadow: #00000059 0px 5px 15px; */
    color: #ff6666;
}

#link{
    background-color: #0091ff00;
    border: solid 1px #0091ff;
    /* box-shadow: #00000059 0px 5px 15px; */
    color: #0091ff;
}

#wpp:hover{
    background-color: #00bf13;
    /* border: solid 1px #fff; */
    border: none;
    color: #fff;
    /* box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset; */
}

#gmail:hover{
    background-color: #ff6666;
    /* border: solid 1px #fff; */
    border: none;
    color: #fff;
    /* box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset; */
}

#link:hover{
    background-color: #0091ff;
    /* border: solid 1px #fff; */
    border: none;
    color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgb(0, 0, 0) 3px 3px 6px 0px inset, rgba(29, 29, 29, 0.5) -3px -3px 6px 1px inset; */
}


.dropdown {
            position: relative;
            display: flex;
        }

        .dropbtn {
            background-color: #00000000;
            color: white;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #0000006f;
            width: 100px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.341);
            z-index: 1;
            margin-top: 45px;
            font-size: 15px;
            border-radius: 10px;
        }

        .dropdown-content a {
            color: white;
            text-decoration: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
        }

        .dropdown-content a:hover {
            background-color: #ffffff13;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

/* footer */
footer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 8vw;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
    background-color: rgb(26, 26, 26);
    padding: 20px 20px;
    justify-content: center;
}

footer p{
    font-size: 15px;
}

.ficons{
    display: flex;
    gap: 1rem;
}

.ficons a{
    text-decoration: none;
    opacity: 0.7;
}

.ficons a:hover{
    opacity: 1;
}

#fgithub{
    color: var(--primary);
    font-size: 25px;
}

#flinkedin{
    color: var(--primary);
    font-size: 25px;
    transition: ease 0.5s;
}

@media (max-width: 750px){

      .navMobile {
        display: block;
        z-index: 1;
      }
    
      .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        transition: 0.5s ease-out;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        transform: translateX(100%);
        background: rgba(0, 0, 0, 0.126);
        backdrop-filter: blur(4px);
      }
    
      .nav-list a {
        font-size: 20px;
        color: white;
        opacity:1;
      }
    
      .nav.active .nav-list {
        transform: translateX(0);
        pointer-events: all;
      }
    
      .nav.active .navMobile {
        position: fixed;
        top: 26px;
        right: 50px;
        border-top-color: transparent;
      }
    
      .nav.active .navMobile::before {
        transform: rotate(135deg);
        background: #9500ff;
      }
    
      .nav.active .navMobile::after {
        transform: rotate(-135deg);
        top: -7px;
        background: #9500ff;
      }

    /*home*/
    .me{
        font-size: 15px;
    }
    
    /* sobre */
    .avatar{
        width: 300px;
        height: 300px;
    }

    .contends{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .tech{
        justify-content: center;
    }
    
    .projetinho{
        flex-direction: column;
    }

    .p-icons{
        width: 80%;
    }
    
    footer{
        height: 10vh;
        gap: 8px;
        width: 100%;
    }

    #fgithub, #flinkedin{
        font-size: 20px;
    }
    
    footer p{
        font-size: 10px;
    }
}